/* -------------------------------------------------------------- 
   
   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .title or .text
   
-------------------------------------------------------------- */

label       { cursor: pointer; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Form fields
-------------------------------------------------------------- */

input.text, input.title,
textarea, select {
  padding: 2px; border: 1px solid #99BFE1; font-size: 11px; color: #3A84C3;
}

input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border:1px solid #3A84C3; color: #234F76;
}

textarea		{ width: 390px; height: 100px; }

.button			{
	background: #3A84C3 url(/common/button.gif);
	border: 1px solid #234F76; color: #FFF;
	font-size: 11px; padding: 1px; cursor: pointer;
}

.button_gray	{
	background: #3A84C3 url(/common/button_gray.gif);
	border: 1px solid #777; color: #FFF;
	font-size: 11px; padding: 1px; cursor: pointer;
}

/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; text-align: center; }

.error      { background: #FBE3E4; color: #8a1f11; }
.notice     { background: #FFF6BF; color: #514721; }
.success    { background: #E6EFC2; color: #264409; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
